.list-header {
  background: $light-blue;
  border: 1px solid darken($light-blue, 10%);
  display: flex;
  justify-content: space-between;
  padding: $s-size $m-size;
}

.list-body {
  margin-bottom: $m-size;
}

.list-item {
  border: 1px solid darken($light-blue, 10%);
  padding: $m-size; //$s-size $s-size;
  border-top: none;

  display: flex;
  justify-content: space-between;

  text-decoration: none;

  color: $dark-grey;
}