// Colors
$dark-grey: #333;
$blue: #1c88bf;
$dark-blue: #364051;
$light-blue: #98b0db;
$red-warning: #ff8282;

// Font-Size
$font-size-large: 1.8rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
